<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get Stored Files</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Stored Files</h1>
<tbody>
    <span th:if="${storedFilesResponsePayload != null}">
        <p th:text="${storedFilesResponsePayload.id}"></p>
        <p th:text="${storedFilesResponsePayload.fileName}"></p>
        <p th:text="${storedFilesResponsePayload.description}"></p>
        <p th:text="${storedFilesResponsePayload.date}"></p>
    </span>
    <span th:if="${errorHandler != null}">
        <p th:text="${errorHandler.httpStatus}"></p>
        <p th:text="${errorHandler.errorMessage}"></p>
    </span>
</tbody>
</html>